{
    "extends": "airbnb",
    "rules": {
        "indent": ["error", 4]
    },
    "settings": {
        "import/resolver": {
            "node": {
                "paths": ["src"]
            }
        }
    }
}