{
    "env": {
        "node": true,
        "browser": true
    },
    "parser": "babel-eslint",
    "extends": "airbnb",
    "rules": {
        "camelcase": ["off"],
        "indent":["error", 4],
        "import/no-unresolved": [2, { "commonjs": true }],
        "no-unused-expressions": ["error", { "allowTaggedTemplates": true }],
        "react/jsx-indent-props":["enabled", 4, "tab"],
        "react/jsx-indent":["enabled", 4, "tab"],
        "react/jsx-filename-extension": 
        [
            1, 
            { 
                "extensions": [
                    ".js", ".jsx"
                ] 
            }
        ]
    },
    "settings": {
        "import/resolver": {
            "node": {
                "paths": [
                    "src"
                ]
            },
            "webpack": {
                "paths":[
                    "config"
                ],
                "config":"./config/webpack.config.babel.js"
            }
        }
    }
}